body {
    width: 25%;
    margin: auto;
    background: url(background.jpg) no-repeat fixed center;
    line-height: 1.25;

    font-family: Arial;
    font-size: 13px;
}

P { text-align: center }

#textBackground {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
}
